*{
    margin:0;
    padding:0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #222;;
}
.container{
    width: 550px;
    height: 500px;
    /* border:2px solid black; */
    display:grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(15,1fr);
    gap:2px;
    background-color:white  ;
}
.container>section{
    border:1px solid #222;
    color:gold;
    cursor: pointer;
}
.container>section:nth-of-type(1){
    grid-column:1/ span 6;
    grid-row:1 /span 6;
    background-color:blue;
}
.container>section:nth-of-type(22),
.container>section:nth-of-type(35),
.container>section:nth-of-type(36),
.container>section:nth-of-type(37),
.container>section:nth-of-type(38),
.container>section:nth-of-type(39){
    background-color:blue;
    background-image:url(img/bg_1.jpg);
    background-position:center;
    background-size:cover;
}
.container>section:nth-of-type(5){
    grid-column:10 /span 6;
    grid-row:1 / span 6;
    background-color:yellow;
}
.container>section:nth-of-type(8),
.container>section:nth-of-type(7),
.container>section:nth-of-type(10),
.container>section:nth-of-type(13),
.container>section:nth-of-type(16),
.container>section:nth-of-type(19){
    background-color:yellow;
}
.container>section:nth-of-type(27){
    grid-column:7 /span 3;
    grid-row:7 /span 3;
    background-color:black;
}
.container>section:nth-of-type(53){
    grid-column:1 /span 6;
    grid-row:10 / span 6;
    background-color:red;
}
.container>section:nth-of-type(60),
.container>section:nth-of-type(64),
.container>section:nth-of-type(67),
.container>section:nth-of-type(70),
.container>section:nth-of-type(73),
.container>section:nth-of-type(72){
    background-color:red;
}
.container>section:nth-of-type(62){
    grid-column:10 / span 6 ;
    grid-row:10 / span 6;
    background-color:green;
}
.container>section:nth-of-type(40),
.container>section:nth-of-type(41),
.container>section:nth-of-type(42),
.container>section:nth-of-type(43),
.container>section:nth-of-type(44),
.container>section:nth-of-type(57){
    background-color:green;
}